html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
}


/* Header Style */

.header {
    position: relative;
    background-color: #CFC6B7;
    height: 189px;
}

.user {
    cursor: pointer;
}

.header>img {
    display: block;
    margin: 0 auto;
    padding-top: 26px;
}

.header>h4 {
    font-family: 'Righteous', cursive;
    text-align: center;
    padding-top: 20px;
}

.header>div>span {
    z-index: 3;
    position: absolute;
    top: 10%;
    right: 4.7%;
}

.header>.user>i {
    position: absolute;
    top: 12%;
    right: 2%;
    color: #603813;
    font-size: 24px;
}

.dropdown-menu>li>a {
    color: #000;
    padding: 0;
}

.dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #007bff;
}


/* .order-history{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 21px;
    padding: 5px;
    color: #603813;
    cursor: pointer;
} */


/* Select coffee */

#select-cf {
    text-align: center;
    padding: 20px;
}


/* Navigation Style */

.list-group {
    box-shadow: 0px 1px 7px 0px #888888;
}

.nav-menu-web {
    position: sticky;
    top: 15%;
    left: 1%;
}

.nav-menu-mobile {
    display: none;
}

.link-menu {
    text-align: center;
    color: #000;
}

.navbar {
    padding: 0% !important;
}

.navbar-nav a:hover {
    text-decoration: none;
}

.nav-item {
    color: #000;
}


/* Page Content Style */

.menu-item {
    text-align: center;
}

.search-bar {
    width: 50%;
    margin-top: 4%;
    margin-bottom: 4%;
}

#coffee,
#iced-blended,
#tea,
#smoothie {
    margin-top: .5rem;
}

.card {
    border: none !important;
}

.card-img-top {
    display: block;
    width: 60% !important;
    border: 11px solid #CFC6B7;
    margin-left: auto;
    margin-right: auto;
}

.card-footer {
    border: none !important;
    background-color: #fff !important;
}

.button-order {
    background-color: #603813;
    color: #fff;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Grocery Store Style */

.table {
    position: sticky;
    top: 15%;
    box-shadow: 0px 1px 7px 0px #888888;
    border-radius: 0.25rem;
}

.amount,
.cost1,
.cost2,
.cost3,
.cost4,
.total {
    text-align: right;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
    background-color: #fff !important;
}

.shipping,
.cost4,
.td-input,
.td-button1,
.td-button2 {
    border: none !important;
}

.td-img {
    width: 50px;
}

.img-item {
    width: 50px;
    height: 50px;
}

.input-promotion,
.button-submit,
.button-view {
    width: 100%;
    height: 47px;
}

.button-submit,
.button-view {
    background-color: #B78546;
    color: #fff;
}


/* Page Footer Style */

.footer {
    background-color: #CFC6B7;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.logo-img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
}

.logo-name2 {
    font-family: 'Righteous', cursive;
    text-align: center;
    padding-top: 20px;
}

.fa {
    display: block !important;
    font-weight: normal !important;
    font: normal normal normal 14px/1 'FontAwesome'!important;
}

.fa-facebook::before,
.fa-instagram::before,
.fa-phone::before,
.fa-building::before {
    padding-right: 28px;
}

.footer-contact {
    font-size: 24px !important;
    padding-bottom: 18px;
    padding-left: 5%;
}


/* Responsive */

@media (max-width: 400px) {
    .header>div>span {
        right: 12.2%;
    }
    .nav-menu-web {
        display: none;
    }
    .nav-menu-mobile {
        display: block;
        position: sticky;
        z-index: 10;
        top: 0%;
    }
    .navbar-nav {
        flex-direction: row !important;
    }
    .nav-name {
        font-size: 12px;
        font-weight: 400;
        padding-left: 31.5px;
        padding-top: 9px;
    }
    .container-fluid {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .card {
        display: grid !important;
        grid-template-areas: 'img body' 'img order';
    }
    .card-img-top {
        grid-area: img;
        width: 125px !important;
        border: 7px solid #CFC6B7;
        margin-left: 0%;
    }
    .card-body {
        grid-area: body;
        text-align: left;
    }
    .card-text {
        font-size: 12px;
    }
    .card-footer {
        grid-area: order;
        padding: 0% !important;
    }
    .button-order {
        font-size: 12px;
    }
}


/* Boostrap Style */