@charset "UTF-8";
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Header Style */

.header {
    position: relative;
    background-color: #CFC6B7;
    height: 189px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 26px;
}

.logo-name {
    font-family: Righteous;
    font-style: Regular;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    text-align: center;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529!important;
    text-align: left;
    background-color: #fff;
}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #603813;
    margin: 4% 5%;
}

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
  }

.sub-title {
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}
/* Sign in form Style */
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
    width: 100%;
}

#form_login .center_form {
    text-align: center;
    margin: 5%;
}

#form_login .row {
    width: 80%;
    display: inline-block;
    text-align: left;
}

span.psw {
    position: relative;
    float: center;
    display: flex;
    padding-top: 16px;
    padding-right: 16px;
  }
/* Button Style */

button:hover {
    opacity: 0.8;
}

.btn-signin {
    background-color: #6d5845!important;
    color: white!important;
    width: 50% !important;
}

.btn-link {
   color: #6d5845!important;
}
.btn-logout {
    background-color: #b78546;
    color: white;
}

.btn-cancel {
    background-color: #b78546;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    cursor: pointer;
}

.nav-back {
    margin-top: 50px;
    padding: 25px;
    position: absolute;
    border: none;
    background-color: #ffffff;
  }
img[alt="Back"] {
      cursor: pointer;
  }
.sign-up {
    cursor: pointer;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .btn-cancel {
     width: 100%;
  }
}

@media (max-width: 800px) {
    #form_login .top_form {
        max-width: 600px;
    }

    #form_login .row{
        max-width: 600px;
    }

    #form_login .row dd{
        padding: 10px 20px 15px;
    }
    .btn-signin {
        min-width: 250px;
    }
    span.psw {
        text-align: left;
    }

    input[type=text], input[type=password] {
        min-width: 250px;
    }
}
